{% extends "global/Page.html" %}

{% block content %}
    <div class="container">
        <h2>Resultados</h2>
        <p>En esta ronda, elegiste: {{ player.choice }}</p>
        <p>Las ganancias por tu elección en esta ronda, son: {{ earnings_round }}</p>

        <p>La opción ganadora en esta ronda fue: {{ player.winning_choice }}</p>

        {% if player.choice == player.winning_choice %}
            <p>Felicidades ¡Ganaste!</p>
        {% else %}
            <p>Lo siento, perdiste.</p>
        {% endif %}

        Esta fue la ronda final

        <p>En total has ganado {{ endowment_next_round }} </p>

                <br>
        <button type="submit" class="btn btn-primary">Siguiente</button>
<br><br>
    </div>
{% endblock %}




